<div class="container-md">
  <div class="p-5">
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload csv/xlsx File</label>
      <input class="form-control" type="file" id="formFile"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="onFileChange($event)">
    </div>
  </div>
  <div *ngIf="errors.length" class="px-5 py-2">
    <h5 class="text-danger">Errors in Uploaded file</h5>
    <ul>
      <li *ngFor="let item of errors">
        {{item.error}}
      </li>
    </ul>
  </div>
  <div *ngIf="displayUsers.length" class="p-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Reports To</th>
        </tr>
      </thead>
      <tbody>
        @for (user of displayUsers; track user.RowId) {
        <tr>
          <td>{{user.RowId}}</td>
          <td> {{user.FullName}} </td>
          <td>{{user.Email}}</td>
          <td>{{user.Role}}</td>
          <td>{{user.ReportsTo}}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshUserList()">
      </ngb-pagination>
      <div class="d-flex align-items-center gap-2">
        <p>Items Per Page</p>
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUserList()">
          @for (item of itemPerPageOptions; track item) {
          <option [ngValue]="item">{{item}}</option>
          }
        </select>
      </div>
    </div>

  </div>
</div>